In [1]:

x = 1
type(x)

int

In [2]:
x = 2.4
type(x)

float

In [5]:
name = "abdul"
type(name)

str

In [6]:
name = "abdul"
type(name)
print(name)

abdul

In [7]:
a1 = True
a2 = False
type(a1)

bool

In [8]:
x = 1.0 - 2.0j
type(x)

complex

In [9]:
print(x)

(1-2j)

In [12]:
print(x.real , x.imag)

1.0 -2.0

In [16]:
five = 5
two = 2
print(five)
two

5

2

In [17]:
ten = 10
print(ten)

10

In [18]:
ten = 'ten'
print (ten)

ten

In [20]:
'Day' + '1'

'Day1'

In [22]:
'Day' +str (1)

'Day1'

In [23]:
True and True

True

In [24]:
True or False

True

In [25]:
not True

False

In [26]:
not False

True

In [27]:
True is True

True

In [28]:
True is False

False

In [71]:
"a" == "a"

True

In [33]:
i = 3
if i<3:
    print("less than 3")
elif i<5:
    print("less than 5")
else:
    print("more than 5")

less than 5

In [34]:
#list
l =[]
l

[]

In [35]:
l = list()

In [36]:
type(l)

list

In [37]:
l = ['a','b','c']
print(l)
type(l)

['a', 'b', 'c']

list

In [38]:
l = ['a',6]
l

['a', 6]

In [41]:
l2 = list(l)
l2

['a', 6]

In [42]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [43]:
l = [1,2]
print(l)
l.append('b')
print(l)
l.append('c')
print(l)
l.insert(1,56)
print(l)

[1, 2]
[1, 2, 'b']
[1, 2, 'b', 'c']
[1, 56, 2, 'b', 'c']

In [45]:
for i in l:
    print(i)

1
56
2
b
c

In [52]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4,9]
sum = 0
for i in numbers:
    sum = sum + i
    
print("The sum is",sum)

The sum is 46

In [54]:
digits = [1,3,5]
for i in digits:
    print(i)
else:
    print('no items present')

1
3
5
no items present

In [57]:
#while loop
n = int(input("Enter n: "))
sum = 0
i = 1
while i<= n:
    sum = sum+i
    i = i+1
print('The sum is',sum)

Enter n: 34
The sum is 595

In [58]:
n = int(input("Enter n: "))
sum = 0
i = 1
while i>= n:
    sum = sum+i
    i = i+1
print('The sum is',sum)

Enter n: 34
The sum is 0

In [60]:
n = int(input("Enter n: "))
sum = 0
i = 1
while i<= n:
    sum = sum+i
    i = i+1
print('The sum is',sum)

Enter n: 45
The sum is 1035

In [61]:
print(range(10))

range(0, 10)

In [62]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
print(list(range(2, 8)))

[2, 3, 4, 5, 6, 7]

In [64]:
print(list(range(2, 20, 5)))

[2, 7, 12, 17]

In [65]:
genre = ['pop', 'rock', 'jazz','sapna']
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz
I like sapna

In [67]:
for val in "HARSHITHA":
    if val == "I":
        break
    print(val)
print("The end")

H
A
R
S
H
The end

In [68]:
for val in "HARSHITHA":
    if val == "I":
        continue
    print(val)
print("The end")

H
A
R
S
H
T
H
A
The end

In [69]:
name = input("What is your name?\n ")
type(name)

What is your name?
 ahad

str

In [70]:
age = int(input("What is your age? "))
print ("Your age is: ", age)
type(age)

What is your age? 21
Your age is:  21

int

In [72]:
name = input("What is your name? ")
print (" It was nice talking you " + name + "!")
age = input("Enter your age? ")
print("Hey, you are already " + age + " years old, " + name + "!")

What is your name? ahad
 It was nice talking you ahad!
Enter your age? 21
Hey, you are already 21 years old, ahad!