In [1]:
class Person:
    pass

john_doe = Person()
john_doe.name = "abdul ahad"
john_doe.surname = "T K"
john_doe.year_of_birth = 1999


print(john_doe)
print("%s %s was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

<__main__.Person object at 0x7faee1c3cb50>
abdul ahad T K was born in 1999.

In [2]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [3]:
abdul= Person("abdul ahad", "T K", 1999)
print(abdul)
print("%s %s was born in %d"% (abdul.name,abdul.surname,abdul.year_of_birth))

<__main__.Person object at 0x7faee1c3cee0>
abdul ahad T K was born in 1999

In [4]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    def age(self, current_year):
        return current_year - self.year_of_birth 
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)  
alec = Person("abdul ahad", "T K", 1999)
print(alec)
print(alec.age(2020))

abdul ahad T K was born in 1999 .
21

In [5]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
charlie = Student(1, 'abdul ahad', 'T K', 1999)
print(charlie)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

abdul ahad T K was born in 1999 .
<class '__main__.Student'>
True
True

In [6]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(1, 'abdul ahad', 'T K', 1999)
print(charlie)

abdul ahad T K was born in 1999 . And has ID: 1

In [7]:
def summer(a, b):
    return a + b

print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [8]:
%%writefile batman.txt
Hello, this is a test file

Writing batman.txt

In [9]:
my_file = open('batman.txt')

In [10]:
my_file.read()

'Hello, this is a test file\n'

In [11]:
my_file.read()

''

In [12]:
my_file.seek(0)

0

In [13]:
my_file.read()

'Hello, this is a test file\n'

In [14]:
my_file.seek(0)

0

In [15]:
my_file.readlines()

['Hello, this is a test file\n']

In [16]:
my_file = open('batman.txt','w+')

In [17]:
my_file.write('hi, how you doing?')

18

In [18]:
my_file.seek(0)

0

In [19]:
my_file.read()

'hi, how you doing?'

In [20]:
%%writefile test.txt
First Line
Second Line

Writing test.txt

In [21]:
for line in open('test.txt'):
    print(line)

First Line

Second Line

In [22]:
for test in open('test.txt'):
    print(test)

First Line

Second Line

In [23]:
from io import StringIO

In [24]:
message = 'hi, how you doing?'

In [25]:
f = StringIO(message)

In [26]:
f.read()

'hi, how you doing?'

In [36]:
f.write('having a great time......... coffee')

35

In [37]:
f.seek(0)

0

In [38]:
f.read()

'hi, how you doing?having a great time having a great timehaving a great timehaving a great time......... coffee'